/* Home-Page */

.home main {
  background-color: var(--secondry-color);
}
.home main .top .stars {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 36px;
  align-items: center;
  flex: 1;
  border: 2px solid var(--main-color);
  border-bottom: 0;
  border-left: 0;
}
.home main .top .mid {
  flex: 3;
  border: 2px solid var(--main-color);
  border-bottom: 0;
}

.home main .top .blank {
  width: 178px;
  border-left: 2px solid var(--main-color);
}
.home main .top .stars,
.home main .top .mid,
.home main .top .blank {
  padding: 2% 4%;
}
.home main .top .mid h2 {
  font-family: Garamond;
  font-size: 76px;
  font-weight: 700;
  line-height: 85.5px;
  text-align: center;
  color: var(--main-color);
}

.home main .top .stars img.sm {
  align-self: self-end;
  margin-left: 12%;
}

.home main .bottom {
  flex: 1;
}
.home main .bottom .img-container {
  flex: 3;
  border: 2px solid var(--main-color);
  border-right: 0;
  border-bottom: 0;
  position: relative;
  background-color: #ebd5c8;
}

.home main .bottom .img-container img {
  position: absolute;
  top: -32%;
  left: 22%;
  height: 132%;
}

.home main .bottom .info {
  flex: 2;
  padding: 8% 3%;
  border-top: 2px solid var(--main-color);
  border-left: 2px solid var(--main-color);
  position: relative;
}

.home main .bottom .info::after {
  content: url(../imgs/playButton.svg);
  position: absolute;
  top: -24%;
  left: 8%;
}

.home main .bottom .info p {
  font-family: Garamond;
  font-size: 36px;
  font-weight: 400;
  line-height: 40.5px;
  text-align: right;
  margin-top: 85px;
  position: relative;
}

.home main .bottom .info p::after {
  content: url(../imgs/quote.svg);
  position: absolute;
  top: -40px;
  left: 2%;
}

.home .socials .arrow {
  height: 360px;
}

@media (max-width: 1200px) {
  .home main .top .blank,
  .home main .top .stars,
  .home main .bottom .info::after {
    display: none;
  }
  .home main .top,
  .home main .bottom .wrapper,
  .home {
    flex-direction: column;
  }
  .home main .bottom .img-container {
    height: 400px;
    flex: auto;
  }
  .home .socials {
    display: none !important;
  }
}

@media (max-width: 800px) {
  .home main .top .mid h2 {
    font-size: 36px;
    line-height: normal;
    margin-bottom: 35px;
  }
  .home main .bottom .img-container {
    height: 280px;
  }

  .home main .bottom .img-container img {
    left: 18%;
  }
}

/* BrandSection */

.brands {
  padding: 1%;
  border-top: 2px solid #343a32;
  border-left: 0;
  border-right: 0;
  background-color: #f6f1eb;
}
.brands .swiper-slide {
  font-family: Garamond;
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  color: #343a32;
}
.brands .swiper-slide span {
  color: #936e4e;
}

@media (max-width: 1400px) {
  .brands .swiper-slide {
    font-size: 24px;
  }
}
@media (max-width: 500px) {
  .brands .swiper-slide {
    font-size: 18px;
  }
}

/* BrandSection */

/* Special-services-section */
.sp-services {
  background-color: #f6f1eb;
  padding: 4%;
}
.sp-services .swiper-wrapper {
  padding-bottom: 40px;
}
.sp-services h3 {
  font-family: Garamond;
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
}

.sp-services p {
  padding-inline: 4%;
  font-family: Garamond;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}

.sp-services .item {
  border: 2px solid #343a32;
  margin: 25px 0;
  border-radius: 16px;
  height: 400px;
  position: relative;
  background-color: white;
}
.sp-services .item > .main-img {
  border-radius: 14px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 100%;
  height: 300px;
}
.sp-services .item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 120px;
  border-radius: 16px;
  background-color: #343a32;
  bottom: -12px;
  left: 0;
  z-index: -1;
}
.sp-services .item span {
  font-family: Garamond;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.01em;
}

.swiper-horizontal > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
  width: 80% !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
}

@media (max-width: 500px) {
  .sp-services.item {
    height: 340px;
  }
  .sp-services .item > .main-img {
    height: 260px;
  }
}

/* Special-services-section */

/* client-section */

.testi {
  border-top: 2px solid #343a32;
  background-color: #ebd5c8;
}
.testi .swiper-wrapper {
  padding: 85px 0;
}

.swiper-slide .client {
  padding: 12px 48px;
  border: 2px solid #343a32;
  border-radius: 16px;
  background-color: white;
}

.swiper-slide .client .desc {
  width: 100%;
}
.swiper-slide .client .profile-pic {
  margin-top: -65px;
  margin-bottom: 25px;
  display: flex;
  justify-content: end;
}
.swiper-slide .client .profile-pic img {
  margin-right: auto;
}

/* client-section */

/* Offers-section */

.offers {
  padding: 4%;
  border-top: 2px solid #343a32;
  color: #343a32;
}
.offers h3 {
  font-family: Garamond;
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
  text-align: center;
  margin-bottom: 18px;
}

.offers p {
  font-family: Garamond;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
}

.offers .item.special {
  transform: scaleY(1.08);
  transform-origin: top;
}
.offers .item {
  border: 2px solid #343a32;
  border-top-left-radius: 5000px;
  border-top-right-radius: 5000px;
  background-color: var(--secondry-color);
  overflow: hidden;
  text-align: end;
  color: #343a32;
  position: relative;
  z-index: 10;
  box-shadow: 0px 8px 0px 0px #343a32;
}
.offers .item .info {
  height: 75%;
  justify-content: space-between;
}

.offers .item .title {
  font-family: Garamond;
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
}

.offers .item .desc {
  font-family: Garamond;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.offers .item ul li {
  font-family: Garamond;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.offers .item p span {
  font-family: Garamond;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}

.offers .item .price {
  font-family: Garamond;
  font-size: 36px;
  font-weight: 700;
  line-height: 72px;
  text-align: center;
}

.offers .item .offer-button {
  color: #343a32;

  background-color: #ebd5c8;
}

@media (max-width: 950px) {
  .offers .wrapper {
    flex-direction: column;
  }
  .offers .item.special {
    transform: scaleY(1);
  }
}

/* Offers-section */

/* Home-Page */

/* services-Page */

/* static-services-section */

.static-services .item {
  max-width: 440px;
}

.static-services .item {
  z-index: 10;
}

.sp-services.static-services .item:after {
  height: 17px;
  border-radius: 16px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  bottom: -12px;
  z-index: -1;
}

@media (max-width: 500px) {
  .static-services .item {
    max-width: 100%;
  }
}

/* static-services-section */

/* services-Page */

/* aboutUS-Page */
.offers.our-work .item {
  flex: 1;
}
/* aboutUS-Page */
/* contactUs-Page */

.details .wrapper {
  color: #343a32;
}
.details .bg {
  position: absolute;
  width: 100%;
  height: 70%;
  left: 0;
  top: 15%;
  background-color: var(--secondry-color);
  z-index: -1;
  border-bottom: 3px solid #343a32;
}

@media (max-width: 950px) {
  .details .bg {
    height: 100%;
    top: 0;
    border-bottom: 0;
  }
}

/* contactUs-Page */

/* machines-Page */
.machine-benifits .wrapper ul {
  padding-inline: 5%;
}
.machine-benifits .wrapper ul li {
  font-family: Garamond;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #343a32;
}
.machine-benifits .wrapper ul li span {
  font-family: Garamond;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: var(--main-color);
}
.machine-benifits .wrapper ul li::marker {
  color: var(--main-color) !important;
}
.machine-benifits .wrapper p {
  text-align: center;
  margin-top: 25px;
  font-family: Garamond;
  font-size: 22px;
  font-weight: 700;
  line-height: 33px;
  color: #936e4e;
}

@media (max-width: 500px) {
  .machine-benifits .wrapper ul {
    padding-inline: 0;
  }
}

/* machines-Page */
